<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <trust level="Full"/>
    <httpRuntime maxRequestLength="32768" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="32768800" /> 
      </requestFiltering>
    </security>
    <!-- Set the default document -->
    <defaultDocument>
      <files>
        <remove value="index.php"/>
        <add value="index.php"/>
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false"/>
    <rewrite>
      <rules>
			<rule name="WordPress: http://2750-12643.el-alt.com" patternSyntax="Wildcard">
				<match url="*"/>
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
				<action type="Rewrite" url="index.php"/>
			</rule></rules>
    </rewrite>
  </system.webServer>
</configuration>
